<div class="container">
  <div class="row mt-2">
    <div class="col-md-4">
      <app-drivers 
        [drivers]="drivers" 
        (driverMarker)="onShowMarker($event)"
        (showLocation)="onShowLocation($event)"
        >
      </app-drivers>
    </div>
    <div class="col-md-8">
      <app-map 
        [drivers]="drivers"
        [tasks]="tasks"
        [schTasks]="schTasks"
        [driverMarker]="driverMarker" 
        [driverLocation]="driverLocation"
        [showAllMap]="showAllMap"
        [showUnMap]="showUnMap"
        >
      </app-map>
    </div>
  </div>
  <hr>
  <div class="row">
      <app-tasks 
        [tasks]="tasks" 
        [schTasks]="schTasks" 
        [drivers]="drivers" 
        [currentDriver]="currentDriver"
        (showAll)="showAll()"
        (showUn)="showUn()"
        >
      </app-tasks>
  </div>
</div>