<agm-map [latitude]="lat" [longitude]="lng" *ngIf="!showDriver && !showAllMap && !showUnMap">
  <agm-marker *ngFor="let driver of drivers" [latitude]="driver.latitude" [longitude]="driver.longitude"></agm-marker>
</agm-map>

<agm-map [latitude]="lat" [longitude]="lng" *ngIf="!showDriver && (showAllMap || showUnMap)">
  <agm-marker *ngFor="let m of markers" 
    [latitude]="m.latitude" 
    [longitude]="m.longitude"
    [iconUrl]="tasksMarks"
    >
  </agm-marker>
</agm-map>

<agm-map [latitude]="lat" [longitude]="lng" *ngIf="showDriver && !showAllMap && !showUnMap">
  <agm-marker *ngIf="showMarker" [latitude]="driverMarker.latitude" [longitude]="driverMarker.longitude">
  </agm-marker>
  <agm-info-window *ngIf="location" [isOpen]="true" [latitude]="driverLocation.latitude" [longitude]="driverLocation.longitude">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img alt="{{ driverLocation.name }}" src="{{ driverLocation.picture }}">
        </div>
        <div class="col-md-8">
          <div class="mt-3">
            Name: {{ driverLocation.name }}
            <br> Latitude: {{ driverLocation.latitude }}
            <br> Longitude: {{ driverLocation.longitude }}
          </div>
        </div>
      </div>
    </div>
  </agm-info-window>
</agm-map>